<% if @category.errors.any? %>
      <%= @category.errors.count %>errors prohibited this obj from being saved:
      <% @category.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
<% end %>


<div class="categoryList row flex-nowrap mb-6">
<% @categories.each do |category| %>
  <% if category.errors.any? %>
        <%= category.errors.count %>errors prohibited this obj from being saved:
        <% category.errors.full_messages.each do |message| %>
      <%= message %>
      <% end %>
  <% end %>
    <div class="col-4">
      <div class="category-box scolor pb-3">
        <div class="category-name-box mcolor col-10">
          <p class="category-name">
            <%= category.name %>
          </p>
        </div>
            <!--d-flexで横並び、mtでmargin-top -->
          <div class="category-links d-flex  mt-2   justify-content-around">
              <div class="categoryEdit mcolor col-4 rounded text-center pt-1 pb-1">
                <a class=" text-decoration-none fcolor" data-bs-toggle="collapse" href="#collapseEditCategory_<%= category.id%>" role="button" aria-expanded="false" aria-controls="collapseEditCategory_<%= category.id%>">
                  <i class="fas fa-file-pen"></i>  更新
                </a>
              </div>
              <div class="categoryDestroy mcolor col-4 rounded text-center pt-1 pb-1">
                <%= link_to  category_path(category),method: :delete,class:"text-white text-decoration-none" do %>
                  <i class="fas fa-trash-can"></i> 削除
                <% end %>
              </div>
          </div>
          <div class="text-center">
            <%= form_with model: category, method: :patch,class:"collapse  mt-2 mb-1",id:"collapseEditCategory_#{category.id}" do |f| %>
              <%= f.text_area :name,rows:"2",placeholder: "カテゴリーを編集",class:"col-10" %>
              <br>
              <%= f.submit "編集"  %>
            <% end %>
          </div>
          <div class="mcolor col-10 mt-2 mb-2 mx-auto rounded text-white text-center pt-1 pb-1">
            <a class="text-decoration-none text-white" data-bs-toggle="collapse" href="#collapseCreateToDo_<%= category.id %>" role="button" aria-expanded="false" aria-controls="collapseCreateToDo_<%= category.id %>">
              <i class="fa-solid fa-square-plus"></i>  TODO 追加
            </a>
          </div>
          <div class="text-center">

            <%= form_with model: [category,@list] , url: category_list_index_path(category,@list) ,local: true,class:"collapse",id:"collapseCreateToDo_#{category.id}" do |f| %>
              <%= f.text_area :name, rows: '2', placeholder: "TODOを追加",class:"col-10"  %>
              <br>
              <%= f.submit "追加"  %>
            <% end %>
          </div>
          <div class="todolists mcolor rounded col-10 mx-auto mt-2 pt-2 pb-2 ">
          <ul class="text-white">
            <table>
              <tbody>
                <% category.lists.each do |list| %>
                  <tr>
                    <td class="custom-control custom-checkbox col-10">
                    <%= form_with model: [category,list] do |f| %>
                          <%= f.check_box :done,:as => :boolean %>
                          <%= f.label list.name ,class:"col-8" %>
                      <%= f.submit "更新" %>
                    <% end %>
                    </td>
                    <td class="d-flex ms-2">
                      <a class="text-white" data-bs-toggle="collapse" href="#collapseEditList_<%= list.id %>" role="button" aria-expanded="false" aria-controls="collapseEditList">
                        <i class="fas fa-file-pen"></i>
                      </a>
                      <%= link_to category_list_path(category,list),method: :delete,class:"text-white" do %>
                        <i class="fas fa-trash-can pe-1"></i>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= form_with model: [category,list],class:"collapse col-12 mb-3", id:"collapseEditList_#{list.id}" do |f| %>
                        <%= f.text_field :name,class:"form-control categoryName col-12 mt-2 mb-2",placeholder:"TODOを更新" %>
                        <div class="text-center"><%= f.submit "編集する",class:"submitBtn" %></div>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </ul>

        </div>
      </div>
    </div>
<% end %>

</div>